@charset "UTF-8";
*,
*::before,
*::after {
  background: transparent;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:not(body) {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a img {
  border: none;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  vertical-align: middle;
}

input,
select {
  vertical-align: middle;
}

input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

/*Sass*/
/*全体*/
body {
  line-height: 1.7;
  letter-spacing: 0.07em;
  font-family: 'Montserrat', 'Noto Sans JP', serif;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 599px) {
  .wrapper {
    width: 95%;
  }
}

header {
  position: relative;
  height: 100vh;
  margin-bottom: 120px;
  /*ハンバーガーメニュー*/
}

@media (max-width: 1024px) {
  header {
    height: 35rem;
  }
}

header .background {
  position: absolute;
  background-color: #222;
  width: 54%;
  height: 100%;
  top: 0;
  right: 0;
}

header .main {
  position: absolute;
  top: 0;
  left: 0;
  width: 76%;
  height: 86.5%;
  background-color: #000000;
}

header .main img {
  opacity: 0.7;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

header .header-contents {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 58px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

@media (max-width: 1024px) {
  header .header-contents {
    padding: 37px 30px;
  }
}

@media (max-width: 599px) {
  header .header-contents {
    padding: 24px 15px;
  }
}

header .header-contents .logo {
  width: 260px;
}

@media (max-width: 1024px) {
  header .header-contents .logo {
    width: 25%;
  }
}

@media (max-width: 599px) {
  header .header-contents .logo {
    width: 50%;
  }
}

header .header-contents .hum_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 14px;
}

@media (max-width: 599px) {
  header .header-contents .hum_button {
    font-size: 10px;
  }
}

header .header-contents .hum_button p {
  z-index: 21;
  padding-left: 9px;
  cursor: pointer;
}

header .catch {
  position: absolute;
  top: 50%;
  right: 0;
  color: #fff;
  font-weight: bold;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

@media (max-width: 599px) {
  header .catch {
    right: 20%;
  }
}

header .catch p:nth-child(1) {
  font-family: 'YuGothic';
  font-size: 20px;
  line-height: 1.1;
}

@media (max-width: 1024px) {
  header .catch p:nth-child(1) {
    font-size: 16px;
  }
}

header .catch p:nth-child(2) {
  font-family: 'Montserrat Medium';
  font-size: 20px;
  margin-bottom: 15px;
  line-height: 1.1;
}

@media (max-width: 1024px) {
  header .catch p:nth-child(2) {
    font-size: 16px;
  }
}

header .catch p:nth-child(3) {
  font-size: 72px;
  line-height: 1.2;
}

@media (max-width: 1024px) {
  header .catch p:nth-child(3) {
    font-size: 56px;
  }
}

header .bg {
  background-color: #121212;
}

header .hamburger-menu {
  display: block;
  width: 30px;
  height: 22px;
  top: 0;
  right: 0;
  z-index: 30;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;
}

header .hamburger-menu span {
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

header .hamburger-menu span:nth-child(1) {
  top: 0px;
}

header .hamburger-menu span:nth-child(2) {
  top: 10px;
}

header .hamburger-menu span:nth-child(3) {
  top: 20px;
}

header .hamburger-menu.active span:nth-child(1) {
  top: 10px;
  left: 0px;
  background: #fff;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

header .hamburger-menu.active span:nth-child(2), header .hamburger-menu.active span:nth-child(3) {
  top: 10px;
  background: #fff;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

header #hamburger-navigation {
  width: 520px;
  height: 100vh;
  background-color: #121212;
  color: #121212;
  position: fixed;
  top: 0;
  right: 0px;
  z-index: 20;
  opacity: 0;
  text-align: center;
  -webkit-transition: opacity 0.8s ease, visibility 0.8s ease;
  transition: opacity 0.8s ease, visibility 0.8s ease;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 180px 30px;
}

@media (max-width: 599px) {
  header #hamburger-navigation {
    width: 100%;
  }
}

header #hamburger-navigation.active {
  opacity: 1;
  visibility: visible;
  right: 0px;
}

header #hamburger-navigation img {
  margin: 0 auto 40px;
}

header #hamburger-navigation .menu {
  text-align: center;
}

header #hamburger-navigation .menu a {
  color: #fff;
}

header #hamburger-navigation .menu li {
  margin-bottom: 30px;
  font-size: 20px;
}

header #hamburger-navigation .menu li:last-child {
  margin-bottom: 0;
}

h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

button {
  background-color: #000000;
  color: #fff;
  padding: 10px 40px;
}

#about {
  margin-top: 120px;
  position: relative;
  z-index: 1;
  background-image: url("img/about-img.png");
  background-repeat: no-repeat;
  padding: 110px 0 110px 50px;
  background-position: center;
  background-size: cover;
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  #about {
    width: 100%;
    padding: 60px 0;
  }
}

#about a{
  color:#fff;
}

#about .card {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 50px 30px;
  width: 53%;
}

@media (max-width: 1024px) {
  #about .card {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 599px) {
  #about .card {
    width: 95%;
  }
}

#about .card p {
  font-family: 'Noto Sans JP';
  margin-bottom: 60px;
}

#works_culture {
  background-color: #F0F0F0;
  padding: 180px 0px 60px;
  position: relative;
  z-index: 0;
  top: -100px;
}

@media (max-width: 599px) {
  #works_culture {
    padding: 140px 0px 40px;
  }
}

#works_culture .works_culture_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 599px) {
  #works_culture .works_culture_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#works_culture .works_culture_flex div {
  width: 45%;
  margin-right: 5%;
  min-width: 520px;
}

@media (max-width: 1024px) {
  #works_culture .works_culture_flex div {
    margin-right: 0;
    margin-bottom: 80px;
  }
}

@media (max-width: 599px) {
  #works_culture .works_culture_flex div {
    width: 100%;
    min-width: 0;
    margin-bottom: 40px;
  }
}

#works_culture .works_culture_flex div:last-child {
  margin-right: 0;
}

@media (max-width: 1024px) {
  #works_culture .works_culture_flex div:last-child {
    margin-bottom: 0px;
  }
}

#works_culture .works_culture_flex div img {
  margin-bottom: 27px;
}

#works_culture .works_culture_flex div figcaption {
  font-family: 'YuGothic';
  margin-bottom: 27px;
}

#topics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -40px;
  padding: 60px 0px;
}

@media (max-width: 1024px) {
  #topics {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -100px;
    padding: 40px 0;
  }
}

#topics div {
  width: 53%;
  padding-top: 68px;
  text-align: right;
}

@media (max-width: 1024px) {
  #topics div {
    width: 100%;
    padding-top: 0;
    text-align: left;
  }
}

#topics div dt {
  font-size: 10px;
  font-family: 'Montserrat Medium';
  color: #CECECE;
  font-weight: bold;
  padding-bottom: 9px;
  text-align: left;
}

#topics div dd {
  font-size: 14px;
  font-family: 'YuGothic';
  border-bottom: 1px solid #DDDDDD;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 29px;
  text-align: left;
}

#contact {
  background-color: #F2F2F2;
  padding: 60px 0 120px;
}

@media (max-width: 1024px) {
  #contact {
    padding: 40px 0 80px;
  }
}

@media (max-width: 599px) {
  #contact {
    padding: 40px 0;
  }
}
#contact a{
  color:#fff;
}
#contact .contact_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

@media (max-width: 599px) {
  #contact .contact_flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

#contact .contact_flex div {
  width: 45%;
  margin-right: 5%;
  min-width: 520px;
}

@media (max-width: 1024px) {
  #contact .contact_flex div {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 599px) {
  #contact .contact_flex div {
    width: 100%;
    min-width: 0;
  }
}

#contact .contact_flex div:last-child {
  margin-right: 0;
}

@media (max-width: 1024px) {
  #contact .contact_flex div:first-child {
    margin-bottom: 0;
  }
}

#contact .contact_flex div p {
  font-family: 'YuGothic';
  margin-bottom: 30px;
}

footer {
  background-color: #525252;
  font-size: 10px;
  font-family: 'Montserrat Medium';
  color: #fff;
  text-align: center;
  padding: 18px 0;
}
/*# sourceMappingURL=style.css.map */
